<!DOCTYPE html>

<html>

<head>
    <title>Vellore Institute OF Technology Chatbot - FAQ</title>
    <meta charset="utf-8">
    <!--<link type="text/css" rel="stylesheet" href="../static/test.css">-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&Noto+Serif+JP:wght@500&family=Bai+Jamjuree:wght@700&family=Tajawal&display=swap" rel="stylesheet">
</head>

<body>
    <div class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                V.I.T Chatbot / FAQ
            </div>
        </header>

        <div class="msger-chat">
            <div class="container">
                <img src="{{url_for('static',filename='bot.png')}}" alt="Avatar" class="left">
                <span id="userName">V.I.T Chat</span>
                <p>Vellore Institute Of Technology Virtual Chatbot</p>
                <span class="time-right">11:00</span>
            </div>

            <!--<div class="container darker">
                <img src="../static/man.png" alt="Avatar" class="right">
                <span id="userName">Vous</span>
                <p>Hey! I'm fine. Thanks for asking!</p>
                <span class="time-left">11:01</span>
            </div>-->

        </div>

        <form class="msger-inputarea">
            <input type="text" class="msger-input" id="textInput" placeholder="Enter Question">
            <button type="submit" class="msger-send-btn">Enter</button>
        </form>
    </div>

    <script>
        const msgerForm = get(".msger-inputarea");
        const msgerInput = get(".msger-input");
        const msgerChat = get(".msger-chat");
        
        const firstMsgTime = get(".time-right");
        firstMsgTime.innerHTML = formatDate(new Date())

        const BOT_IMG = "{{ url_for('static', filename='bot.png') }}";
        const PERSON_IMG = "{{ url_for('static', filename='man.png') }}";
        const BOT_NAME = "Assistant virtuel";
        const PERSON_NAME = "Vous";

        msgerForm.addEventListener("submit", event => {
            event.preventDefault();

            const msgText = msgerInput.value;
            if (!msgText) return;

            appendMessage("container darker", PERSON_NAME, PERSON_IMG, "right", msgText, "left");
            msgerInput.value = "";
            botResponse(msgText);
        });

        function appendMessage(msgContainer, userName, img, avatarSide, text, timeSide) {
            const msgHTML = `<div class="${msgContainer}">
                <img src="${img}" alt="Avatar" class="${avatarSide}">
                <span id="userName">${userName}</span>
                <p>${text}</p>
                <span class="time-${timeSide}">${formatDate(new Date())}</span>
            </div>`;

            msgerChat.insertAdjacentHTML("beforeend", msgHTML);
            msgerChat.scrollTop += 500;
        }


        function botResponse(rawText) {
            fetch('/get', {
                    method: 'POST',
                    body: rawText,
                })
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                    const msgText = data;
                    appendMessage("container", BOT_NAME, BOT_IMG, "left", msgText, "right");
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        // Utils
        function get(selector) {
            return document.querySelector(selector)
        }

        function formatDate(date) {
            const h = "0" + date.getHours();
            const m = "0" + date.getMinutes();

            return `${h.slice(-2)}:${m.slice(-2)}`;
        }
    </script>
</body></html>
